.operationsContainer {
    width: 240px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 4px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.disabled {
    opacity: 0.5;
}