.button {
    width: 72px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    border-radius: 6px;

    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}

.button:active {
    border: 2px solid #5D5FEF;
}

.inactive:active {
    border: 1px solid #E2E3E5;
}

.disabled {
    border: 1px solid #E2E3E5;
    opacity: 0.5;
}
