.toggleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    width: 243px;
    height: 38px;
    background: #F3F4F6;
    border-radius: 6px;
    margin: 10px;
}
