.app {
    display: flex;
    padding: 10px
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}