.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 4px 0;
}

.display {
    width: 232px;
    height: 52px;
    background: #F3F4F6;
    border-radius: 6px;
    border: 0;

    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: right;
}

.container input {
    outline: none;
}

.inactiveItem input {
    pointer-events: none;
}