.displayContainer {
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.displayInput {
    width: 232px;
    height: 52px;
    background: #F3F4F6;
    border-radius: 6px;
    border: 0;
    outline: none;

    font-weight: 800;
    font-size: 30px;
    line-height: 44px;
    text-align: right;
}

.inactiveItem input {
    /*you don't need this props, if input is readonly*/
    pointer-events: none;
}