.equalsBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 10px;
}

.equalsButton {
    width: 232px;
    height: 64px;
    background: #5D5FEF;
    border-radius: 6px;
    border: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}
