.emptyCanvas {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 243px;
    height: 448px;
    border: 2px dashed #C4C4C4;
    border-radius: 6px;
    margin: 10px;
}

.canvasWithData {
    justify-content: flex-start;
    background: #FFFFFF;
    border: 0
}

.line::before {
    display: block;
    width: 240px;
    height: 0;
    content: '';
    border: 1px solid #5D5FEF;
}