.canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 243px;
    height: 448px;
    border: 2px dashed #C4C4C4;
    border-radius: 6px;
    margin: 10px;
 }